<h1>Welcome To The Longest Word Game</h1>
<p>Here is your grid </p>
<%= $grid %>

<p>Enter Your Word</p>
<form action="/score">
  <!-- What the user sees -->
  <input type="text" name="query">
  <!-- Hidden fields -->
  <input type="hidden" name="name_of_my_param" value="value_of_my_param">
  <input type="submit">
</form>


